:root
 --bg-animate: 3s
 --bg-gradient: linear-gradient(90deg, rgba(2, 0, 36, 1) 0, rgba(9, 9, 121, 1) 25%, rgba(0, 212, 255, 1) 50%, rgba(9, 9, 121, 1) 75%, rgba(2, 0, 36, 1) 100%)
 --bg-gradient-moz: -moz-linear-gradient(90deg, rgba(2, 0, 36, 1) 0, rgba(9, 9, 121, 1) 25%, rgba(0, 212, 255, 1) 50%, rgba(9, 9, 121, 1) 75%, rgba(2, 0, 36, 1) 100%)
 --bg-gradient-o: -o-linear-gradient(90deg, rgba(2, 0, 36, 1) 0, rgba(9, 9, 121, 1) 25%, rgba(0, 212, 255, 1) 50%, rgba(9, 9, 121, 1) 75%, rgba(2, 0, 36, 1) 100%)
 --bg-gradient-webkit: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 0, rgba(9, 9, 121, 1) 25%, rgba(0, 212, 255, 1) 50%, rgba(9, 9, 121, 1) 75%, rgba(2, 0, 36, 1) 100%)
 --bg-gradients: auto
 --bg-img_score-data: url('https://i1.sndcdn.com/avatars-000407521950-bay9bf-t500x500.jpg')
 --bg-img_splash: url('../../src/img/IMG_20230128_160624953.jpg')
 --bg-width: 20
 --vh: auto

html
 font-family: Helvetica, 'Open Sans', sans-serif
 font-size: 62.5%

 body
  background: linear-gradient(360deg, rgba(t-black, 1) 10%, rgba(0, 212, 255, 0) 75%, rgba(t-black, 1) 100%), var(--bg-img_splash) center no-repeat
  background-size: cover
  font-family: inherit
  font-size: 1.6rem
  min-height: 100vh
  overflow-x: hidden

  h1
   color: t-white
   font-weight: 700

  h2
   font-size: 1.6rem
   font-weight: 400

  button
   buttonGlobal()

   &:hover
    background: lighten(t-red, 50%)
