.sr
 clip: rect(1px, 1px, 1px, 1px)
 clip-path: inset(50%)
 height: 1px
 margin: -1px
 overflow: hidden
 padding: 0
 position: absolute
 width: 1px

.text
 &.red
  color: t-red

 &.yellow
  color: t-yellow

 &.white
  color: t-white

 &.semi-bold
  font-weight: 600

 &.bold
  font-weight: 700

 &.regular
  font-weight: 400

 &.light
  font-weight: 300

 &.uppercase
  text-transform: uppercase

 &.x-large
  font-size: x-large

 &.error
  message(t-red)

 &.congratulations
  message(t-yellow)

@keyframes clockfade
 0%
  opacity: 0

 100%
  opacity: 1