#App
 flex-direction: column

.logo
 background: transparent url('./../img/030221_mbta_t.svg') no-repeat 15px top
 background-size: contain
 margin-bottom: .5rem

 @media screen and (min-width: 576px)
  background: right top
  background-size: contain

.challenge, .title, .status
 .t-message
  border-radius: .3125rem
  display: block
  padding: 1rem

.challenge
 background-color: black
 font-weight: 700
 line-height: 1.5

 p
  margin-bottom: 0

  .icon
   align-items: center
   display: inline-flex
   justify-content: center
   margin-left: .375rem
   margin-right: .375rem
   position: relative

   &:before
    border-radius: 50%
    content: ''
    display: block
    height: 3rem
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    width: 3rem
    brandParents('background-color')

  .abbr
   display: block
   z-index: 1

.status
 font-size: 3rem
 font-weight: 400

 .t-message
  display: flex
  justify-content: space-evenly
  line-height: 1

  .incorrect, .correct, .total
   align-items: center
   display: flex
   flex-direction: column
   position: relative

   .progress-background
    background-image: var(--bg-img_score-data)
    background-position: right top
    background-repeat: repeat-x
    background-size: auto 100%
    height: 100%
    left: 0
    position: absolute
    top: 0
    transition: width 1s ease-in-out
    width: var(--bg-width)
    z-index: 0

   .count
    font-size: 3rem
    line-height: inherit
    z-index: 1

   .label
    font-size: 1rem
    line-height: inherit
    text-align: center
    z-index: 1

@keyframes spin
 0%
  transform: rotate(0)

 100%
  transform: rotate(360deg)

@keyframes gradientMotion
 0%
  background-position: 10% 0

 50%
  background-position: 91% 100%

 100%
  background-position: 10% 0

.loader
 display: none
 height: 10rem
 margin: 0 auto
 position: relative
 width: 10rem

 p
  color: t-white
  font-size: 1.5rem
  left: 50%
  position: absolute
  top: 50%
  transform: translate(-50%, -50%)
  z-index: 1

 .animate
  animation-duration: 2s
  animation-iteration-count: infinite
  animation-name: spin
  animation-timing-function: linear
  statusDataBg(rgb(2, 0, 36), rgba(2, 0, 36, 1) 0, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%)
  border-radius: 50%
  box-sizing: border-box
  height: inherit
  overflow: hidden
  padding: 1rem
  position: relative
  text-align: center
  width: inherit
  z-index: 0

  &:before
   background-color: t-black
   border-radius: 50%
   content: ''
   display: block
   height: calc(100% - 1rem)
   left: 50%
   position: absolute
   top: 50%
   transform: translate(-50%, -50%)
   width: calc(100% - 1rem)

.date-picker
 display: flex
 justify-content: center

 input[type='text'], input[type='date']
  font-size: 3rem
  height: 5rem
  line-height: 1
  padding: .25rem 1rem

.backdrop
 background: alpha(black, .5)
 display: none
 height: 100%
 left: 0
 position: absolute
 top: 0
 width: 100%
 z-index: 0

.tutorial
 height: 1px
 overflow: hidden
 transition: .5s height ease-in-out

 &.expanded
  height: calc(var(--vh) + 4rem)
  max-width: 100%
  transition: .5s height ease-in-out

 >.col
  background: t-black
  border-bottom: t-green 2rem solid
  border-top: t-green 2rem solid

  .row-fluid
   background: t-black
   color: t-white
   padding-bottom: 2rem
   padding-top: 2rem

   h2
    font-size: 2.5rem
    font-weight: 700

 .close
  color: t-white
  cursor: pointer
  margin-right: -1rem
  margin-top: -1rem
  padding: 1rem
  position: absolute
  right: 0
  top: 0

.game-rules
 buttonGlobal(t-black, #ffffff)

.line-option
 mbta-official-blue()
 text-align: center

 h2
  font-size: 2.5rem

 form
  padding: 1rem 0

  fieldset
   align-items: center
   display: flex
   justify-content: space-around

   label
    line-height: 1.4
    cells-info()

    input
     margin-right: 1rem

.score-data
 align-items: center
 mbta-official-blue()

 .status
  .t-message
   .correct
    .progress-background
     animation-duration: var(--bg-animate)
     animation-iteration-count: infinite
     animation-name: gradientMotion
     animation-timing-function: linear
     background-image: var(--bg-gradient-webkit)
     background-image: var(--bg-gradient-moz)
     background-image: var(--bg-gradient-o)
     background-image: var(--bg-gradient)
     background-position: 30% 10%
     background-size: 1400%

   strong
    cells-info()
    margin-right: .5rem

    &:last-of-type
     margin-right: 0

.stop-data
 color: #fff
 brandParents('background-color')
 margin-bottom: .25rem

 h2
  line-height: 1.5
  margin-bottom: 0

.clock
 animation-duration: 1s
 animation-iteration-count: 1
 animation-name: clockfade
 background: transparent

 &:has([id*='orrect'])
  z-index: 999

  a
   &:has(svg) svg
    cursor: pointer
    overflow: visible
    transition: all .215s ease-in-out

    &:hover
     circle
      &.face
       filter: drop-shadow(0 0 .05rem rgb(0 0 0 / .125))

 svg
  fill: white
  stroke: black
  stroke-linecap: round
  stroke-width: 1
  width: 100%

  .marks
   transform: translate(20px, 20px)

   > line
    stroke: gray
    stroke-width: .115

   > line:nth-child(1)
    transform: rotate(6deg)

   > line:nth-child(2)
    transform: rotate(calc(2 * 6deg))

   > line:nth-child(3)
    transform: rotate(calc(3 * 6deg))

   > line:nth-child(4)
    transform: rotate(calc(4 * 6deg))

   > line:nth-child(5)
    stroke: transparent
    transform: rotate(calc(5 * 6deg))

   > line:nth-child(6)
    transform: rotate(calc(6 * 6deg))

   > line:nth-child(7)
    transform: rotate(calc(7 * 6deg))

   > line:nth-child(8)
    transform: rotate(calc(8 * 6deg))

   > line:nth-child(9)
    transform: rotate(calc(9 * 6deg))

   > line:nth-child(10)
    stroke: transparent
    transform: rotate(calc(10 * 6deg))

   > line:nth-child(11)
    transform: rotate(calc(11 * 6deg))

   > line:nth-child(12)
    transform: rotate(calc(12 * 6deg))

   > line:nth-child(13)
    transform: rotate(calc(13 * 6deg))

   > line:nth-child(14)
    transform: rotate(calc(14 * 6deg))

   > line:nth-child(15)
    stroke: transparent
    transform: rotate(calc(15 * 6deg))

   > line:nth-child(16)
    transform: rotate(calc(16 * 6deg))

   > line:nth-child(17)
    transform: rotate(calc(17 * 6deg))

   > line:nth-child(18)
    transform: rotate(calc(18 * 6deg))

   > line:nth-child(19)
    transform: rotate(calc(19 * 6deg))

   > line:nth-child(20)
    stroke: transparent
    transform: rotate(calc(20 * 6deg))

   > line:nth-child(21)
    transform: rotate(calc(21 * 6deg))

   > line:nth-child(22)
    transform: rotate(calc(22 * 6deg))

   > line:nth-child(23)
    transform: rotate(calc(23 * 6deg))

   > line:nth-child(24)
    transform: rotate(calc(24 * 6deg))

   > line:nth-child(25)
    stroke: transparent
    transform: rotate(calc(25 * 6deg))

   > line:nth-child(26)
    transform: rotate(calc(26 * 6deg))

   > line:nth-child(27)
    transform: rotate(calc(27 * 6deg))

   > line:nth-child(28)
    transform: rotate(calc(28 * 6deg))

   > line:nth-child(29)
    transform: rotate(calc(29 * 6deg))

   > line:nth-child(30)
    stroke: transparent
    transform: rotate(calc(30 * 6deg))

   > line:nth-child(31)
    transform: rotate(calc(31 * 6deg))

   > line:nth-child(32)
    transform: rotate(calc(32 * 6deg))

   > line:nth-child(33)
    transform: rotate(calc(33 * 6deg))

   > line:nth-child(34)
    transform: rotate(calc(34 * 6deg))

   > line:nth-child(35)
    stroke: transparent
    transform: rotate(calc(35 * 6deg))

   > line:nth-child(36)
    transform: rotate(calc(36 * 6deg))

   > line:nth-child(37)
    transform: rotate(calc(37 * 6deg))

   > line:nth-child(38)
    transform: rotate(calc(38 * 6deg))

   > line:nth-child(39)
    transform: rotate(calc(39 * 6deg))

   > line:nth-child(40)
    stroke: transparent
    transform: rotate(calc(40 * 6deg))

   > line:nth-child(41)
    transform: rotate(calc(41 * 6deg))

   > line:nth-child(42)
    transform: rotate(calc(42 * 6deg))

   > line:nth-child(43)
    transform: rotate(calc(43 * 6deg))

   > line:nth-child(44)
    transform: rotate(calc(44 * 6deg))

   > line:nth-child(45)
    stroke: transparent
    transform: rotate(calc(45 * 6deg))

   > line:nth-child(46)
    transform: rotate(calc(46 * 6deg))

   > line:nth-child(47)
    transform: rotate(calc(47 * 6deg))

   > line:nth-child(48)
    transform: rotate(calc(48 * 6deg))

   > line:nth-child(49)
    transform: rotate(calc(49 * 6deg))

   > line:nth-child(50)
    stroke: transparent
    transform: rotate(calc(50 * 6deg))

   > line:nth-child(51)
    transform: rotate(calc(51 * 6deg))

   > line:nth-child(52)
    transform: rotate(calc(52 * 6deg))

   > line:nth-child(53)
    transform: rotate(calc(53 * 6deg))

   > line:nth-child(54)
    transform: rotate(calc(54 * 6deg))

   > line:nth-child(55)
    stroke: transparent
    transform: rotate(calc(55 * 6deg))

   > line:nth-child(56)
    transform: rotate(calc(56 * 6deg))

   > line:nth-child(57)
    transform: rotate(calc(57 * 6deg))

   > line:nth-child(58)
    transform: rotate(calc(58 * 6deg))

   > line:nth-child(59)
    transform: rotate(calc(59 * 6deg))

   > line:nth-child(60)
    stroke: transparent
    transform: rotate(calc(60 * 6deg))

  transform: rotate(-90deg)

  .seconds
   stroke: #d00505
   stroke-width: .3

  .minute
   stroke-width: .6

  .hour
   stroke-width: 1

  .pin
   stroke: t-red
   stroke-width: .2

.analog
 position: relative

 &.number
  background-color: transparent
  font-size: 150%
  font-weight: 800
  padding: 4px
  position: absolute
  z-index: 2

  &.twelve
   left: 49.75%
   top: 6%
   transform: translate(-49.75%, -6%)

  &.one
   right: 28%
   top: 13%
   transform: translate(-28%, -13%)

  &.two
   right: 15%
   top: 28%
   transform: translate(-15%, -28%)

  &.three
   right: 11%
   top: 50%
   transform: translate(-11%, -50%)

  &.four
   bottom: 23.5%
   right: 15%
   transform: translate(-15%, -23.5%)

  &.five
   bottom: 11%
   right: 28%
   transform: translate(-28%, -11%)

  &.six
   bottom: 6%
   left: 50%
   transform: translate(-50%, -6%)

  &.seven
   bottom: 11%
   left: 31%
   transform: translate(-31%, -11%)

  &.eight
   bottom: 23.5%
   left: 17%
   transform: translate(-17%, -23.5%)

  &.nine
   left: 12%
   top: 50%
   transform: translate(-12%, -50%)

  &.ten
   left: 17%
   top: 28%
   transform: translate(-17%, -28%)

  &.eleven
   left: 30%
   top: 13%
   transform: translate(-30%, -13%)