:root {
  --bg-animate: 3s;
  --bg-gradient: linear-gradient(
    90deg,
    #020024 0,
    #090979 25%,
    #00d4ff 50%,
    #090979 75%,
    #020024 100%
  );
  --bg-gradient-moz: -moz-linear-gradient(
    90deg,
    #020024 0,
    #090979 25%,
    #00d4ff 50%,
    #090979 75%,
    #020024 100%
  );
  --bg-gradient-o: -o-linear-gradient(
    90deg,
    #020024 0,
    #090979 25%,
    #00d4ff 50%,
    #090979 75%,
    #020024 100%
  );
  --bg-gradient-webkit: -webkit-linear-gradient(
    90deg,
    #020024 0,
    #090979 25%,
    #00d4ff 50%,
    #090979 75%,
    #020024 100%
  );
  --bg-gradients: auto;
  --bg-img_score-data: url("https://i1.sndcdn.com/avatars-000407521950-bay9bf-t500x500.jpg");
  --bg-img_splash: url("../../src/img/IMG_20230128_160624953.jpg");
  --bg-width: 20;
  --vh: auto;
}
html {
  font-family: Helvetica, "Open Sans", sans-serif;
  font-size: 62.5%;
}
html body {
  background:
    linear-gradient(
      360deg,
      #212529 10%,
      rgba(0, 212, 255, 0) 75%,
      #212529 100%
    ),
    var(--bg-img_splash) center no-repeat;
  background-size: cover;
  font-family: inherit;
  font-size: 1.6rem;
  min-height: 100vh;
  overflow-x: hidden;
}
html body h1 {
  color: #fff;
  font-weight: 700;
}
html body h2 {
  font-size: 1.6rem;
  font-weight: 400;
}
html body button {
  background: buttonface;
  border-radius: 5px;
  color: #000;
  display: block;
  font-weight: 400;
  margin: 4rem auto auto;
  margin-top: 0;
  padding: 1rem;
  transition: all 0.125s ease-in-out;
  width: fit-content;
}
html body button:hover {
  background: #f0918a;
}
#App {
  flex-direction: column;
}
.logo {
  background: transparent url("./../img/030221_mbta_t.svg") no-repeat 15px top;
  background-size: contain;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 576px) {
  .logo {
    background: right top;
    background-size: contain;
  }
}
.challenge .t-message,
.title .t-message,
.status .t-message {
  border-radius: 0.3125rem;
  display: block;
  padding: 1rem;
}
.challenge {
  background-color: #000;
  font-weight: 700;
  line-height: 1.5;
}
.challenge p {
  margin-bottom: 0;
}
.challenge p .icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-left: 0.375rem;
  margin-right: 0.375rem;
  position: relative;
}
.challenge p .icon:before {
  border-radius: 50%;
  content: "";
  display: block;
  height: 3rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
}
.red .challenge p .icon:before {
  background-color: #da291c;
}
.green .challenge p .icon:before {
  background-color: #00843d;
}
.blue .challenge p .icon:before {
  background-color: #165c96;
}
.orange .challenge p .icon:before {
  background-color: #ed8b00;
}
.challenge p .abbr {
  display: block;
  z-index: 1;
}
.status {
  font-size: 3rem;
  font-weight: 400;
}
.status .t-message {
  display: flex;
  justify-content: space-evenly;
  line-height: 1;
}
.status .t-message .incorrect,
.status .t-message .correct,
.status .t-message .total {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.status .t-message .incorrect .progress-background,
.status .t-message .correct .progress-background,
.status .t-message .total .progress-background {
  background-image: var(--bg-img_score-data);
  background-position: right top;
  background-repeat: repeat-x;
  background-size: auto 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: width 1s ease-in-out;
  width: var(--bg-width);
  z-index: 0;
}
.status .t-message .incorrect .count,
.status .t-message .correct .count,
.status .t-message .total .count {
  font-size: 3rem;
  line-height: inherit;
  z-index: 1;
}
.status .t-message .incorrect .label,
.status .t-message .correct .label,
.status .t-message .total .label {
  font-size: 1rem;
  line-height: inherit;
  text-align: center;
  z-index: 1;
}
.loader {
  display: none;
  height: 10rem;
  margin: 0 auto;
  position: relative;
  width: 10rem;
}
.loader p {
  color: #fff;
  font-size: 1.5rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.loader .animate {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: spin;
  animation-timing-function: linear;
  background: #020024;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(
    90deg,
    #020024 0 0,
    #090979 35% 25%,
    #00d4ff 100% 50%,
    #090979 35% 75%,
    #020024 0 100%
  );
  background-image: -moz-linear-gradient(
    90deg,
    #020024 0 0,
    #090979 35% 25%,
    #00d4ff 100% 50%,
    #090979 35% 75%,
    #020024 0 100%
  );
  background-image: -o-linear-gradient(
    90deg,
    #020024 0 0,
    #090979 35% 25%,
    #00d4ff 100% 50%,
    #090979 35% 75%,
    #020024 0 100%
  );
  background-image: linear-gradient(
    90deg,
    #020024 0 0,
    #090979 35% 25%,
    #00d4ff 100% 50%,
    #090979 35% 75%,
    #020024 0 100%
  );
  border-radius: 50%;
  box-sizing: border-box;
  height: inherit;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  text-align: center;
  width: inherit;
  z-index: 0;
}
.loader .animate:before {
  background-color: #212529;
  border-radius: 50%;
  content: "";
  display: block;
  height: calc(100% - 1rem);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 1rem);
}
.date-picker {
  display: flex;
  justify-content: center;
}
.date-picker input[type="text"],
.date-picker input[type="date"] {
  font-size: 3rem;
  height: 5rem;
  line-height: 1;
  padding: 0.25rem 1rem;
}
.backdrop {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.tutorial {
  height: 1px;
  overflow: hidden;
  transition: 0.5s height ease-in-out;
}
.tutorial.expanded {
  height: calc(var(--vh) + 4rem);
  max-width: 100%;
  transition: 0.5s height ease-in-out;
}
.tutorial > .col {
  background: #212529;
  border-bottom: #00843d 2rem solid;
  border-top: #00843d 2rem solid;
}
.tutorial > .col .row-fluid {
  background: #212529;
  color: #fff;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.tutorial > .col .row-fluid h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
.tutorial .close {
  color: #fff;
  cursor: pointer;
  margin-right: -1rem;
  margin-top: -1rem;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
}
.game-rules {
  background: #212529;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-weight: 400;
  margin: 4rem auto auto;
  margin-top: 0;
  padding: 1rem;
  transition: all 0.125s ease-in-out;
  width: fit-content;
}
.line-option {
  background: #165c96;
  color: #fff;
  text-align: center;
}
.line-option h2 {
  font-size: 2.5rem;
}
.line-option form {
  padding: 1rem 0;
}
.line-option form fieldset {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.line-option form fieldset label {
  line-height: 1.4;
  background: #0b2f4c;
  border: 2px solid #a1c6ed;
  border-radius: 4px;
  padding: 0.5rem 0;
  width: 100%;
}
.line-option form fieldset label input {
  margin-right: 1rem;
}
.score-data {
  align-items: center;
  background: #165c96;
  color: #fff;
}
.score-data .status .t-message .correct .progress-background {
  animation-duration: var(--bg-animate);
  animation-iteration-count: infinite;
  animation-name: gradientMotion;
  animation-timing-function: linear;
  background-image: var(--bg-gradient-webkit);
  background-image: var(--bg-gradient-moz);
  background-image: var(--bg-gradient-o);
  background-image: var(--bg-gradient);
  background-position: 30% 10%;
  background-size: 1400%;
}
.score-data .status .t-message strong {
  background: #0b2f4c;
  border: 2px solid #a1c6ed;
  border-radius: 4px;
  padding: 0.5rem 0;
  width: 100%;
  margin-right: 0.5rem;
}
.score-data .status .t-message strong:last-of-type {
  margin-right: 0;
}
.stop-data {
  color: #fff;
  margin-bottom: 0.25rem;
}
.red .stop-data {
  background-color: #da291c;
}
.green .stop-data {
  background-color: #00843d;
}
.blue .stop-data {
  background-color: #165c96;
}
.orange .stop-data {
  background-color: #ed8b00;
}
.stop-data h2 {
  line-height: 1.5;
  margin-bottom: 0;
}
.clock {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: clockfade;
  background: transparent;
}
.clock:has([id*="orrect"]) {
  z-index: 999;
}
.clock:has([id*="orrect"]) a:has(svg) svg {
  cursor: pointer;
  overflow: visible;
  transition: all 0.215s ease-in-out;
}
.clock:has([id*="orrect"]) a:has(svg) svg:hover circle.face {
  filter: drop-shadow(0 0 0.05rem #000);
}
.clock svg {
  fill: #fff;
  stroke: #000;
  stroke-linecap: round;
  stroke-width: 1;
  width: 100%;
  transform: rotate(-90deg);
}
.clock svg .marks {
  transform: translate(20px, 20px);
}
.clock svg .marks > line {
  stroke: #808080;
  stroke-width: 0.115;
}
.clock svg .marks > line:nth-child(1) {
  transform: rotate(6deg);
}
.clock svg .marks > line:nth-child(2) {
  transform: rotate(calc(2 * 6deg));
}
.clock svg .marks > line:nth-child(3) {
  transform: rotate(calc(3 * 6deg));
}
.clock svg .marks > line:nth-child(4) {
  transform: rotate(calc(4 * 6deg));
}
.clock svg .marks > line:nth-child(5) {
  stroke: transparent;
  transform: rotate(calc(5 * 6deg));
}
.clock svg .marks > line:nth-child(6) {
  transform: rotate(calc(6 * 6deg));
}
.clock svg .marks > line:nth-child(7) {
  transform: rotate(calc(7 * 6deg));
}
.clock svg .marks > line:nth-child(8) {
  transform: rotate(calc(8 * 6deg));
}
.clock svg .marks > line:nth-child(9) {
  transform: rotate(calc(9 * 6deg));
}
.clock svg .marks > line:nth-child(10) {
  stroke: transparent;
  transform: rotate(calc(10 * 6deg));
}
.clock svg .marks > line:nth-child(11) {
  transform: rotate(calc(11 * 6deg));
}
.clock svg .marks > line:nth-child(12) {
  transform: rotate(calc(12 * 6deg));
}
.clock svg .marks > line:nth-child(13) {
  transform: rotate(calc(13 * 6deg));
}
.clock svg .marks > line:nth-child(14) {
  transform: rotate(calc(14 * 6deg));
}
.clock svg .marks > line:nth-child(15) {
  stroke: transparent;
  transform: rotate(calc(15 * 6deg));
}
.clock svg .marks > line:nth-child(16) {
  transform: rotate(calc(16 * 6deg));
}
.clock svg .marks > line:nth-child(17) {
  transform: rotate(calc(17 * 6deg));
}
.clock svg .marks > line:nth-child(18) {
  transform: rotate(calc(18 * 6deg));
}
.clock svg .marks > line:nth-child(19) {
  transform: rotate(calc(19 * 6deg));
}
.clock svg .marks > line:nth-child(20) {
  stroke: transparent;
  transform: rotate(calc(20 * 6deg));
}
.clock svg .marks > line:nth-child(21) {
  transform: rotate(calc(21 * 6deg));
}
.clock svg .marks > line:nth-child(22) {
  transform: rotate(calc(22 * 6deg));
}
.clock svg .marks > line:nth-child(23) {
  transform: rotate(calc(23 * 6deg));
}
.clock svg .marks > line:nth-child(24) {
  transform: rotate(calc(24 * 6deg));
}
.clock svg .marks > line:nth-child(25) {
  stroke: transparent;
  transform: rotate(calc(25 * 6deg));
}
.clock svg .marks > line:nth-child(26) {
  transform: rotate(calc(26 * 6deg));
}
.clock svg .marks > line:nth-child(27) {
  transform: rotate(calc(27 * 6deg));
}
.clock svg .marks > line:nth-child(28) {
  transform: rotate(calc(28 * 6deg));
}
.clock svg .marks > line:nth-child(29) {
  transform: rotate(calc(29 * 6deg));
}
.clock svg .marks > line:nth-child(30) {
  stroke: transparent;
  transform: rotate(calc(30 * 6deg));
}
.clock svg .marks > line:nth-child(31) {
  transform: rotate(calc(31 * 6deg));
}
.clock svg .marks > line:nth-child(32) {
  transform: rotate(calc(32 * 6deg));
}
.clock svg .marks > line:nth-child(33) {
  transform: rotate(calc(33 * 6deg));
}
.clock svg .marks > line:nth-child(34) {
  transform: rotate(calc(34 * 6deg));
}
.clock svg .marks > line:nth-child(35) {
  stroke: transparent;
  transform: rotate(calc(35 * 6deg));
}
.clock svg .marks > line:nth-child(36) {
  transform: rotate(calc(36 * 6deg));
}
.clock svg .marks > line:nth-child(37) {
  transform: rotate(calc(37 * 6deg));
}
.clock svg .marks > line:nth-child(38) {
  transform: rotate(calc(38 * 6deg));
}
.clock svg .marks > line:nth-child(39) {
  transform: rotate(calc(39 * 6deg));
}
.clock svg .marks > line:nth-child(40) {
  stroke: transparent;
  transform: rotate(calc(40 * 6deg));
}
.clock svg .marks > line:nth-child(41) {
  transform: rotate(calc(41 * 6deg));
}
.clock svg .marks > line:nth-child(42) {
  transform: rotate(calc(42 * 6deg));
}
.clock svg .marks > line:nth-child(43) {
  transform: rotate(calc(43 * 6deg));
}
.clock svg .marks > line:nth-child(44) {
  transform: rotate(calc(44 * 6deg));
}
.clock svg .marks > line:nth-child(45) {
  stroke: transparent;
  transform: rotate(calc(45 * 6deg));
}
.clock svg .marks > line:nth-child(46) {
  transform: rotate(calc(46 * 6deg));
}
.clock svg .marks > line:nth-child(47) {
  transform: rotate(calc(47 * 6deg));
}
.clock svg .marks > line:nth-child(48) {
  transform: rotate(calc(48 * 6deg));
}
.clock svg .marks > line:nth-child(49) {
  transform: rotate(calc(49 * 6deg));
}
.clock svg .marks > line:nth-child(50) {
  stroke: transparent;
  transform: rotate(calc(50 * 6deg));
}
.clock svg .marks > line:nth-child(51) {
  transform: rotate(calc(51 * 6deg));
}
.clock svg .marks > line:nth-child(52) {
  transform: rotate(calc(52 * 6deg));
}
.clock svg .marks > line:nth-child(53) {
  transform: rotate(calc(53 * 6deg));
}
.clock svg .marks > line:nth-child(54) {
  transform: rotate(calc(54 * 6deg));
}
.clock svg .marks > line:nth-child(55) {
  stroke: transparent;
  transform: rotate(calc(55 * 6deg));
}
.clock svg .marks > line:nth-child(56) {
  transform: rotate(calc(56 * 6deg));
}
.clock svg .marks > line:nth-child(57) {
  transform: rotate(calc(57 * 6deg));
}
.clock svg .marks > line:nth-child(58) {
  transform: rotate(calc(58 * 6deg));
}
.clock svg .marks > line:nth-child(59) {
  transform: rotate(calc(59 * 6deg));
}
.clock svg .marks > line:nth-child(60) {
  stroke: transparent;
  transform: rotate(calc(60 * 6deg));
}
.clock svg .seconds {
  stroke: #d00505;
  stroke-width: 0.3;
}
.clock svg .minute {
  stroke-width: 0.6;
}
.clock svg .hour {
  stroke-width: 1;
}
.clock svg .pin {
  stroke: #da291c;
  stroke-width: 0.2;
}
.analog {
  position: relative;
}
.analog.number {
  background-color: transparent;
  font-size: 150%;
  font-weight: 800;
  padding: 4px;
  position: absolute;
  z-index: 2;
}
.analog.number.twelve {
  left: 49.75%;
  top: 6%;
  transform: translate(-49.75%, -6%);
}
.analog.number.one {
  right: 28%;
  top: 13%;
  transform: translate(-28%, -13%);
}
.analog.number.two {
  right: 15%;
  top: 28%;
  transform: translate(-15%, -28%);
}
.analog.number.three {
  right: 11%;
  top: 50%;
  transform: translate(-11%, -50%);
}
.analog.number.four {
  bottom: 23.5%;
  right: 15%;
  transform: translate(-15%, -23.5%);
}
.analog.number.five {
  bottom: 11%;
  right: 28%;
  transform: translate(-28%, -11%);
}
.analog.number.six {
  bottom: 6%;
  left: 50%;
  transform: translate(-50%, -6%);
}
.analog.number.seven {
  bottom: 11%;
  left: 31%;
  transform: translate(-31%, -11%);
}
.analog.number.eight {
  bottom: 23.5%;
  left: 17%;
  transform: translate(-17%, -23.5%);
}
.analog.number.nine {
  left: 12%;
  top: 50%;
  transform: translate(-12%, -50%);
}
.analog.number.ten {
  left: 17%;
  top: 28%;
  transform: translate(-17%, -28%);
}
.analog.number.eleven {
  left: 30%;
  top: 13%;
  transform: translate(-30%, -13%);
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes gradientMotion {
  0% {
    background-position: 10% 0;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0;
  }
}
@-webkit-keyframes gradientMotion {
  0% {
    background-position: 10% 0;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0;
  }
}
@-o-keyframes gradientMotion {
  0% {
    background-position: 10% 0;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0;
  }
}
@keyframes gradientMotion {
  0% {
    background-position: 10% 0;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0;
  }
}
.sr {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.text.red {
  color: #da291c;
}
.text.yellow {
  color: #ffd715;
}
.text.white {
  color: #fff;
}
.text.semi-bold {
  font-weight: 600;
}
.text.bold {
  font-weight: 700;
}
.text.regular {
  font-weight: 400;
}
.text.light {
  font-weight: 300;
}
.text.uppercase {
  text-transform: uppercase;
}
.text.x-large {
  font-size: x-large;
}
.text.error {
  background: #000;
  border-radius: 0.3125rem;
  color: #da291c;
  display: block;
  font-size: 3rem;
  font-weight: 700;
  justify-content: center;
  margin: 1rem auto;
  padding: 2rem;
  text-align: center;
  width: fit-content;
}
.text.congratulations {
  background: #000;
  border-radius: 0.3125rem;
  color: #ffd715;
  display: block;
  font-size: 3rem;
  font-weight: 700;
  justify-content: center;
  margin: 1rem auto;
  padding: 2rem;
  text-align: center;
  width: fit-content;
}
@-moz-keyframes clockfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes clockfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes clockfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes clockfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.jumbotron {
  background: none;
  margin-bottom: 0;
}
