message(n)
 background: black
 border-radius: .3125rem
 color: n
 display: block
 font-size: 3rem
 font-weight: 700
 justify-content: center
 margin: 1rem auto
 padding: 2rem
 text-align: center
 width: fit-content

backgroundColor(n)
 background-color: n

mbta-official-blue()
 background: t-blue
 color: white

cells-info()
 background: #0b2f4c
 border: 2px solid #a1c6ed
 border-radius: 4px
 padding: .5rem 0
 width: 100%

brandParents(prop)
 .red &
  {prop}: t-red

 .green &
  {prop}: t-green

 .blue &
  {prop}: t-blue

 .orange &
  {prop}: t-orange

buttonGlobal(bgcolor = buttonface, txtcolor = black)
 background: bgcolor
 border-radius: 5px
 color: txtcolor
 display: block
 font-weight: 400
 margin: 4rem auto auto
 margin-top: 0
 padding: 1rem
 transition: all .125s ease-in-out
 width: fit-content

statusDataBg(defaultColor, leftColor, middleColor, rightColor)
 background: defaultColor
 background-clip: padding-box
 background-image: -webkit-linear-gradient(90deg, leftColor 0, middleColor 25%, rightColor 50%, middleColor 75%, leftColor 100%)
 background-image: -moz-linear-gradient(90deg, leftColor 0, middleColor 25%, rightColor 50%, middleColor 75%, leftColor 100%)
 background-image: -o-linear-gradient(90deg, leftColor 0, middleColor 25%, rightColor 50%, middleColor 75%, leftColor 100%)
 background-image: linear-gradient(90deg, leftColor 0, middleColor 25%, rightColor 50%, middleColor 75%, leftColor 100%)